In [24]:
import pandas as pd
import time
import re

In [48]:
col = ['id', 'userId', 'createdAt', 'text', 'long', 'lat', 'placeId', 'inReplyTo', 'source', 'truncated', 'Longitude',\
       'Latitude', 'sourceName', 'sourceUrl', 'username', 'screenName', 'followerscount', 'friendscount', 'statusescount',\
       'userLocation']
keep_col = ['id', 'userId', 'createdAt', 'text', 'Longitude', 'Latitude', 'username']
keep_final = ['id', 'userId', 'createdAt', 'Longitude', 'Latitude', 'username', 'tag', 'at']

In [69]:
def keep_tags(t):
    try:
        return re.findall(r"#\w+", t)
    except:
        print(t)
        return list()
def keep_at(t):
    return re.findall(r"@\w+", t)

def add_lines_in_df(lines, dataframe):
    df2 =  pd.DataFrame(lines)
    df2.columns = col
    df2 = df2[keep_col]
    df2['tag'] = df2.text.apply(lambda x: keep_tags(x))
    df2['at'] = df2.text.apply(lambda x: keep_at(x))
    df2 = df2[keep_final]
    return pd.concat([dataframe, df2], ignore_index=True)

In [68]:
file = open("../../twitter_dataset/twitter_full.tsv", encoding="utf8")
data = file.readline()
j = 0
t = time.time()
data_list = list()
df = None
while not data == "":
    j+=1
    l = len(data.split('\t'))
    while l < 20:
        data += file.readline()
        l = len(data.split('\t'))
    if l == 20:
        data_list.append(data.split('\t'))
    if j%100000 == 0:
        print(j)
        df2 =  pd.DataFrame(data_list)
        df2.columns = col
        df2 = df2[keep_col]
        df2['tag'] = df2.text.apply(lambda x: keep_tags(x))
        df2['at'] = df2.text.apply(lambda x: keep_at(x))
        df2 = df2[keep_final]
        df = pd.concat([df, df2], ignore_index=True)
        data_list = list()
    
    data = file.readline()
    if data == "":
        print(j)
        df2 =  pd.DataFrame(d)
        df2.columns = col
        df2 = df2[keep_col]
        df2['tag'] = df2.text.apply(lambda x: keep_tags(x))
        df2['at'] = df2.text.apply(lambda x: keep_at(x))
        df2 = df2[keep_final]
        df = pd.concat([df, df2], ignore_index=True)
        d = list()
    

print(time.time()-t)
file.close()

100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
10000000
10100000
10200000
10300000
10400000
10500000
10600000
10700000
10800000
10900000
11000000
11100000
11200000
11300000
11400000
11500000
11600000
11700000
11800000
11900000
12000000
12100000
12200000
12300000
12400000
12500000
12600000
12700000
12800000
12900000
13000000
13100000
13200000
13300000
13400000
13500000
13600000
13700000
13800000
13900000
14000000
14100000
14200000
14300000
14400000
14500000
14600000
14700000
14800000
14900000
15000000
15100000
15200000
15300000
15400000
15500000
15600000
15700000
15800000
15900000
16000000
16100000
16200000
16300000
16400000
16500000
16600000
16700000
16800000
16900000
17000000
17100000
17200000
17300000
17400000
17500000
17600000
17700000
17800000
17900000
18000000
18100000
18200000
18300000
18400000
18500000
18600000
18700000
18800000
18900000
19000000
19100000
19200000
19300000
19400000
19500000
19600000
19700000
19800000
19900000
20000000
20100000
20200000
20213917
1102.6378021240234

In [81]:
df.count()

id           20212854
userId       20212854
createdAt    20212854
Longitude    20212854
Latitude     20212854
username     20212854
tag          20212854
at           20212854
dtype: int64

In [106]:
df.head(20)

,id,userId,createdAt,Longitude,Latitude,username,tag,at
0,9514097914,17341045,2010-02-23 05:55:51,\N,\N,Tilman Jentzsch,[],[]
1,9514846412,7198282,2010-02-23 06:22:40,\N,\N,Nico Luchsinger,[],[]
2,9516574359,14657884,2010-02-23 07:34:25,\N,\N,Javier Belmonte,[],[]
3,9516952605,14703863,2010-02-23 07:51:47,\N,\N,Urs,[],[]
4,9517198943,14393717,2010-02-23 08:02:57,\N,\N,Romain P.,[],[]
5,9517916537,13535402,2010-02-23 08:35:39,\N,\N,Patrick Hediger,[],[]
6,9518014755,14393717,2010-02-23 08:40:13,\N,\N,Romain P.,[],[]
7,9519149278,14260616,2010-02-23 09:32:09,\N,\N,Roman Keller,[],[@eyeem]
8,9519737890,14657884,2010-02-23 09:59:41,\N,\N,Javier Belmonte,[#fb],[]
9,9521202348,6589882,2010-02-23 11:04:27,\N,\N,Jean Szabo,[],[@foursquare]
10,9521789689,9962022,2010-02-23 11:28:27,\N,\N,Thomas Winter,[#yam],[]
11,9521909000,14393717,2010-02-23 11:33:05,\N,\N,Romain P.,[],[]
12,9523488851,12391922,2010-02-23 12:30:04,\N,\N,Gabriel Walt,[],"[@keepthebyte, @foursquare]"
13,9525122167,14465180,2010-02-23 13:20:45,\N,\N,Jayrome【ツ】,[],[]
14,9532072004,6626682,2010-02-23 16:21:25,\N,\N,Daniel Büchele,[],[]
15,9535390586,921241,2010-02-23 17:47:11,\N,\N,Markus Tressl,"[#24, #VfB]",[]
16,9536575795,14260616,2010-02-23 18:19:03,\N,\N,Roman Keller,[#iPhoneography],[]
17,9537030723,14542024,2010-02-23 18:31:46,\N,\N,Joe Maffia,[#partnermonth],[@evernote]
18,9537277053,18019485,2010-02-23 18:38:34,\N,\N,Maxim Grinev,[],[@shcheklein]
19,9537697469,18019485,2010-02-23 18:50:13,\N,\N,Maxim Grinev,[],"[@cassandra, @twitter, @rk]"

In [71]:
df.to_csv('../../twitter_dataset/cleaned.csv', sep=';')

In [131]:
df_tag = df[(df["tag"].astype(str) != '[]')]
df_tag.to_csv('../../twitter_dataset/cleaned_hashtag.csv', sep=';')

In [97]:
df_tag.count()

id           3397487
userId       3397487
createdAt    3397487
Longitude    3397487
Latitude     3397487
username     3397487
tag          3397487
at           3397487
dtype: int64

In [132]:
df_at = df[(df["at"].astype(str) != '[]')]
df_at.to_csv('../../twitter_dataset/cleaned_identification.csv', sep=';')

In [99]:
df_at.count()

id           8136120
userId       8136120
createdAt    8136120
Longitude    8136120
Latitude     8136120
username     8136120
tag          8136120
at           8136120
dtype: int64

In [124]:

df_tag_at = pd.concat([df_at, df_tag])

In [136]:
df_tag_at.head(20)

,id,userId,createdAt,Longitude,Latitude,username,tag,at
7,9519149278,14260616,2010-02-23 09:32:09,\N,\N,Roman Keller,[],[@eyeem]
9,9521202348,6589882,2010-02-23 11:04:27,\N,\N,Jean Szabo,[],[@foursquare]
12,9523488851,12391922,2010-02-23 12:30:04,\N,\N,Gabriel Walt,[],"[@keepthebyte, @foursquare]"
17,9537030723,14542024,2010-02-23 18:31:46,\N,\N,Joe Maffia,[#partnermonth],[@evernote]
18,9537277053,18019485,2010-02-23 18:38:34,\N,\N,Maxim Grinev,[],[@shcheklein]
19,9537697469,18019485,2010-02-23 18:50:13,\N,\N,Maxim Grinev,[],"[@cassandra, @twitter, @rk]"
20,9537735052,14542024,2010-02-23 18:51:17,\N,\N,Joe Maffia,[],"[@cassandra, @twitter, @rk]"
25,9566362388,13199732,2010-02-24 07:26:32,\N,\N,Daniel Demel,[],[@foursquare]
33,9572560788,6016562,2010-02-24 11:54:01,\N,\N,Cyril Pavillard,[],[@akosma]
42,9584120311,12960732,2010-02-24 17:10:39,\N,\N,Moritz Zumbühl,[],[@ralfg]
43,9584432688,18019485,2010-02-24 17:19:01,\N,\N,Maxim Grinev,[],[@uszabo]
44,9585082509,18019485,2010-02-24 17:36:38,\N,\N,Maxim Grinev,[],[@uszabo]
46,9586792815,18019485,2010-02-24 18:24:08,\N,\N,Maxim Grinev,[],[@bcurdy]
48,9587614435,18019485,2010-02-24 18:47:17,\N,\N,Maxim Grinev,[],[@indrayam]
49,9587873933,18019485,2010-02-24 18:54:46,\N,\N,Maxim Grinev,[],[@newsycombinator]
50,9588056944,18019485,2010-02-24 19:00:04,\N,\N,Maxim Grinev,[],[@squarecog]
51,9588223584,18019485,2010-02-24 19:04:37,\N,\N,Maxim Grinev,[],"[@sarah_ross, @aplusk, @jack, @jack]"
52,9588308550,7630552,2010-02-24 19:07:03,\N,\N,Nico Rohrbach,[],[@ari_robot]
53,9588455410,7630552,2010-02-24 19:11:18,\N,\N,Nico Rohrbach,[],[@simonnelli]
54,9590044226,7630552,2010-02-24 19:56:07,\N,\N,Nico Rohrbach,[],[@ari_robot]