In [1]:
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd
import numpy as np

In [2]:
TOP_UNIV_BASE = "https://www.topuniversities.com"
TOP_UNIV_WEBSITE = "https://www.topuniversities.com/university-rankings/world-university-rankings/2018"
# This is the file containing the general informations about university in the topuniversities website.
TOP_UNIV_DATA_INDICATOR = "https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051_indicators.txt"

In [6]:
# We get the file containing information about the universities
data_indicator = requests.get(TOP_UNIV_DATA_INDICATOR)

indicator_data = json.loads(data_indicator.text)

In [7]:
# Utility function to parse integers
def parse_int(string):
    tmp = string.replace(',', '')
    return int(tmp)

# For each university entry in the indicator file, we get the detail of the university.
# This method returns a list with every information requested
def get_university_info_from_indicator(raw_university):
    overview_soup = BeautifulSoup(raw_university["uni"], 'html.parser')    
    
    name = overview_soup.a.text
    rank = raw_university["overall_rank"]
    region = raw_university["region"]
    country = raw_university["location"]
    
    # Append
    details_request = requests.get(TOP_UNIV_BASE + "/" +  overview_soup.a.attrs['href'])
    details_soup = BeautifulSoup(details_request.text, 'html.parser')
    
    try:      
        total_staff = parse_int(details_soup.find("div", {"class": "total faculty"}).find("div", {"class" : "number"}).text)
        inter_staff = parse_int(details_soup.find("div", {"class": "inter faculty"}).find("div", {"class" : "number"}).text)
        total_students = parse_int(details_soup.find("div", {"class": "total student"}).find("div", {"class": "number"}).text)
        inter_students = parse_int(details_soup.find("div", {"class": "total inter"}).find("div", {"class": "number"}).text)
    except:
        total_staff = np.nan
        inter_staff = np.nan
        total_students = np.nan
        inter_students = np.nan
        
    return [name, rank, country, region, inter_staff, total_staff, inter_students, total_students]

In [8]:
# The main loop, for each university in the indicator file.
univ_list = []

for i, raw_university in enumerate(indicator_data["data"][0:200]):
    print(i, end="\r")
    univ_list.append(get_university_info_from_indicator(raw_university))
    
        
top_univ_df = pd.DataFrame(univ_list, columns=["name", "rank", "country", "region", "inter_staff", "total_staff", "inter_students", "total_students"])

In [9]:
top_univ_df

,name,rank,country,region,inter_staff,total_staff,inter_students,total_students
0,Massachusetts Institute of Technology (MIT),1,United States,North America,1679.0,2982.0,3717.0,11067.0
1,Stanford University,2,United States,North America,2042.0,4285.0,3611.0,15878.0
2,Harvard University,3,United States,North America,1311.0,4350.0,5266.0,22429.0
3,California Institute of Technology (Caltech),4,United States,North America,350.0,953.0,647.0,2255.0
4,University of Cambridge,5,United Kingdom,Europe,2278.0,5490.0,6699.0,18770.0
5,University of Oxford,6,United Kingdom,Europe,2964.0,6750.0,7353.0,19720.0
6,UCL (University College London),7,United Kingdom,Europe,2554.0,6345.0,14854.0,31080.0
7,Imperial College London,8,United Kingdom,Europe,2071.0,3930.0,8746.0,16090.0
8,University of Chicago,9,United States,North America,635.0,2449.0,3379.0,13557.0
9,ETH Zurich - Swiss Federal Institute of Techno...,10,Switzerland,Europe,1886.0,2477.0,7563.0,19815.0
10,"Nanyang Technological University, Singapore (NTU)",11,Singapore,Asia,2993.0,4338.0,7251.0,25738.0
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Switzerland,Europe,1300.0,1695.0,5896.0,10343.0
12,Princeton University,13,United States,North America,246.0,1007.0,1793.0,8069.0
13,Cornell University,14,United States,North America,970.0,2718.0,5411.0,21904.0
14,National University of Singapore (NUS),15,Singapore,Asia,3086.0,5106.0,8917.0,32728.0
15,Yale University,16,United States,North America,1708.0,4940.0,2469.0,12402.0
16,Johns Hopkins University,17,United States,North America,1061.0,4462.0,4105.0,16146.0
17,Columbia University,18,United States,North America,913.0,6189.0,8105.0,25045.0
18,University of Pennsylvania,19,United States,North America,1383.0,5499.0,4250.0,20639.0
19,The Australian National University,20,Australia,Oceania,927.0,1600.0,5551.0,14442.0
20,Duke University,21,United States,North America,226.0,2938.0,2864.0,15320.0
21,University of Michigan,21,United States,North America,1920.0,6809.0,7527.0,43147.0
22,King's College London,23,United Kingdom,Europe,1513.0,3650.0,9451.0,23780.0
23,The University of Edinburgh,23,United Kingdom,Europe,1553.0,4075.0,10551.0,28040.0
24,Tsinghua University,25,China,Asia,932.0,5506.0,4072.0,36300.0
25,The University of Hong Kong,26,Hong Kong,Asia,2085.0,3012.0,8230.0,20214.0
26,"University of California, Berkeley (UCB)",27,United States,North America,1395.0,3321.0,6086.0,36703.0
27,Northwestern University,28,United States,North America,1141.0,4231.0,3422.0,18675.0
28,The University of Tokyo,28,Japan,Asia,254.0,4514.0,2639.0,27279.0
29,The Hong Kong University of Science and Techno...,30,Hong Kong,Asia,835.0,1150.0,2921.0,10375.0
...,...,...,...,...,...,...,...,...
170,Albert-Ludwigs-Universitaet Freiburg,171,Germany,Europe,413.0,1966.0,3897.0,23214.0
171,Indian Institute of Technology Delhi (IITD),172,India,Asia,4.0,466.0,80.0,7477.0
172,King Fahd University of Petroleum & Minerals,173,Saudi Arabia,Asia,665.0,1062.0,989.0,6040.0
173,University of Liverpool,173,United Kingdom,Europe,717.0,2390.0,7502.0,22065.0
174,University of Virginia,173,United States,North America,487.0,2509.0,1899.0,21560.0
175,University of Technology Sydney,176,Australia,Oceania,546.0,1328.0,7769.0,24207.0
176,CentraleSupélec,177,France,Europe,137.0,529.0,1132.0,3877.0
177,University of Florida,178,United States,North America,504.0,5419.0,4597.0,45485.0
178,Indian Institute of Technology Bombay (IITB),179,India,Asia,19.0,876.0,93.0,9402.0
179,University of Twente,179,Netherlands,Europe,299.0,910.0,2235.0,9332.0
180,University of Göttingen,181,Germany,Europe,641.0,3678.0,3736.0,30402.0
181,Vienna University of Technology,182,Austria,Europe,172.0,706.0,5199.0,17479.0
182,Universidade Estadual de Campinas (Unicamp),182,Brazil,Latin America,109.0,1968.0,966.0,26572.0
183,University of Colorado Boulder,182,United States,North America,566.0,3685.0,2679.0,30219.0
184,Vrije Universiteit Brussel (VUB),182,Belgium,Europe,515.0,1792.0,1853.0,9284.0
185,University of Rochester,186,United States,North America,488.0,2569.0,2805.0,9636.0
186,Universidad Autónoma de Madrid,187,Spain,Europe,181.0,2738.0,2976.0,26511.0
187,Alma Mater Studiorum - University of Bologna,188,Italy,Europe,153.0,2990.0,4195.0,63399.0
188,University of Reading,188,United Kingdom,Europe,422.0,1280.0,4077.0,13330.0
189,Indian Institute of Science (IISc) Bangalore,190,India,Asia,NaN,NaN,NaN,NaN
190,University of Cape Town,191,South Africa,Africa,379.0,1733.0,3325.0,19593.0
191,Keio University CEMS MIM,192,Japan,Asia,261.0,3905.0,2178.0,33500.0
192,Scuola Normale Superiore di Pisa,192,Italy,Europe,1.0,86.0,48.0,532.0
193,Scuola Superiore Sant'Anna Pisa di Studi Unive...,192,Italy,Europe,1.0,119.0,135.0,789.0
194,Stockholm University,195,Sweden,Europe,646.0,2154.0,2636.0,28281.0
195,Technische Universität Dresden,281,Germany,Europe,669.0,4913.0,4929.0,34029.0
196,Texas A&M University,195,United States,North America,206.0,3446.0,4900.0,60294.0
197,Universitat Autònoma de Barcelona,195,Spain,Europe,230.0,2187.0,3848.0,31986.0
198,Instituto Tecnológico y de Estudios Superiores...,199,Mexico,Latin America,821.0,1822.0,1412.0,13376.0
199,Maastricht University,200,Netherlands,Europe,502.0,1277.0,8234.0,16385.0

In [10]:
top_univ_df.to_csv("top_univ_df.csv")

In [3]:
top_univ_df = pd.read_csv("top_univ_df.csv", index_col=False, usecols=range(1, 9))

In [5]:
def print_best_university_with_ratio(df): 
    sorted_df = df.sort_values("ratio", ascending=False)
    display(sorted_df.head(1))
    
def print_best_university_with_ratio_grouped(df_grouped):
    display(df_grouped.apply(lambda x: x[x["ratio"] == x["ratio"].max()]).reset_index(1).drop("level_1", 1))

def append_column_to_dataframe(dataframe, column, column_name):
    output_df = dataframe.copy()
    output_df.loc[:, column_name] = column
    return output_df

members_to_studends_ratio = top_univ_df.total_staff / (top_univ_df.total_students + top_univ_df.total_staff)
top_univ_df_with_ratio_a = append_column_to_dataframe(top_univ_df, members_to_studends_ratio, "ratio")

inter_students_ratio = top_univ_df.inter_students / top_univ_df.total_students
top_univ_df_with_ratio_b = append_column_to_dataframe(top_univ_df, inter_students_ratio, "ratio")


print("The best university in term of ratio between faculty members and students is")
print_best_university_with_ratio(top_univ_df_with_ratio_a)
print("\n\nThe best university in term of  ratio of international students is")
print_best_university_with_ratio(top_univ_df_with_ratio_b)

print("\n\nThe best university in term of ratio between faculty members and students per country are")
print_best_university_with_ratio_grouped(top_univ_df_with_ratio_a.groupby("country"))
print("\n\nThe best university in term of  ratio of international students per country are")
print_best_university_with_ratio_grouped(top_univ_df_with_ratio_b.groupby("country"))

print("\n\nThe best university in term of ratio between faculty members and students per region are")
print_best_university_with_ratio_grouped(top_univ_df_with_ratio_a.groupby("region"))
print("\n\nThe best university in term of  ratio of international students per region are")
print_best_university_with_ratio_grouped(top_univ_df_with_ratio_b.groupby("region"))

The best university in term of ratio between faculty members and students is

,name,rank,country,region,inter_staff,total_staff,inter_students,total_students,ratio
3,California Institute of Technology (Caltech),4,United States,North America,350.0,953.0,647.0,2255.0,0.29707

The best university in term of  ratio of international students is

,name,rank,country,region,inter_staff,total_staff,inter_students,total_students,ratio
34,London School of Economics and Political Scien...,35,United Kingdom,Europe,687.0,1088.0,6748.0,9760.0,0.691393

The best university in term of ratio between faculty members and students per country are

,name,rank,country,region,inter_staff,total_staff,inter_students,total_students,ratio
country,,,,,,,,,
Argentina,Universidad de Buenos Aires (UBA),75,Argentina,Latin America,3165.0,16421.0,27109.0,122301.0,0.118373
Australia,The Australian National University,20,Australia,Oceania,927.0,1600.0,5551.0,14442.0,0.099738
Austria,University of Vienna,154,Austria,Europe,1400.0,3411.0,14468.0,45967.0,0.069079
Belgium,Vrije Universiteit Brussel (VUB),182,Belgium,Europe,515.0,1792.0,1853.0,9284.0,0.161791
Brazil,Universidade de São Paulo,121,Brazil,Latin America,279.0,5582.0,2086.0,65711.0,0.078297
Canada,McMaster University,140,Canada,North America,1170.0,3231.0,3548.0,23702.0,0.119964
Chile,Pontificia Universidad Católica de Chile (UC),137,Chile,Latin America,198.0,2260.0,991.0,27003.0,0.077231
China,Tsinghua University,25,China,Asia,932.0,5506.0,4072.0,36300.0,0.131704
Denmark,Technical University of Denmark,116,Denmark,Europe,966.0,2117.0,2098.0,8878.0,0.192542
Finland,University of Helsinki,102,Finland,Europe,535.0,2645.0,1234.0,22419.0,0.105530
France,Ecole Polytechnique,59,France,Europe,259.0,649.0,924.0,3126.0,0.171921
Germany,Technical University of Munich,64,Germany,Europe,1174.0,5850.0,6181.0,38726.0,0.131237
Hong Kong,The University of Hong Kong,26,Hong Kong,Asia,2085.0,3012.0,8230.0,20214.0,0.129682
India,Indian Institute of Technology Bombay (IITB),179,India,Asia,19.0,876.0,93.0,9402.0,0.085231
Ireland,"Trinity College Dublin, The University of Dublin",88,Ireland,Europe,544.0,1249.0,4311.0,14961.0,0.077051
Israel,The Hebrew University of Jerusalem,145,Israel,Asia,454.0,2249.0,1034.0,16531.0,0.119755
Italy,Scuola Normale Superiore di Pisa,192,Italy,Europe,1.0,86.0,48.0,532.0,0.139159
Japan,Tohoku University,76,Japan,Asia,264.0,3411.0,1604.0,17827.0,0.160608
Malaysia,Universiti Malaya (UM),114,Malaysia,Asia,655.0,2755.0,3476.0,17902.0,0.133369
Mexico,Instituto Tecnológico y de Estudios Superiores...,199,Mexico,Latin America,821.0,1822.0,1412.0,13376.0,0.119884
Netherlands,Wageningen University,124,Netherlands,Europe,323.0,2277.0,3613.0,12695.0,0.152084
New Zealand,The University of Auckland,82,New Zealand,Oceania,645.0,2047.0,8568.0,29641.0,0.064599
Norway,University of Bergen,164,Norway,Europe,484.0,1513.0,767.0,10671.0,0.124179
Russia,Lomonosov Moscow State University,95,Russia,Europe,373.0,6709.0,5098.0,30233.0,0.181609
Saudi Arabia,King Fahd University of Petroleum & Minerals,173,Saudi Arabia,Asia,665.0,1062.0,989.0,6040.0,0.149535
Singapore,"Nanyang Technological University, Singapore (NTU)",11,Singapore,Asia,2993.0,4338.0,7251.0,25738.0,0.144235
South Africa,University of Cape Town,191,South Africa,Africa,379.0,1733.0,3325.0,19593.0,0.081262
South Korea,Pohang University of Science And Technology (P...,71,South Korea,Asia,113.0,664.0,126.0,3117.0,0.175615
Spain,Universidad Autónoma de Madrid,187,Spain,Europe,181.0,2738.0,2976.0,26511.0,0.093610
Sweden,KTH Royal Institute of Technology,98,Sweden,Europe,494.0,1500.0,1937.0,12658.0,0.105947
Switzerland,University of Zurich,73,Switzerland,Europe,2617.0,4997.0,5036.0,26065.0,0.160872
Taiwan,National Taiwan University (NTU),76,Taiwan,Asia,220.0,2807.0,3152.0,32195.0,0.080195
United Kingdom,University of Oxford,6,United Kingdom,Europe,2964.0,6750.0,7353.0,19720.0,0.255006
United States,California Institute of Technology (Caltech),4,United States,North America,350.0,953.0,647.0,2255.0,0.297070

The best university in term of  ratio of international students per country are

,name,rank,country,region,inter_staff,total_staff,inter_students,total_students,ratio
country,,,,,,,,,
Argentina,Universidad de Buenos Aires (UBA),75,Argentina,Latin America,3165.0,16421.0,27109.0,122301.0,0.221658
Australia,The University of Melbourne,41,Australia,Oceania,1477.0,3311.0,18030.0,42182.0,0.427434
Austria,University of Vienna,154,Austria,Europe,1400.0,3411.0,14468.0,45967.0,0.314748
Belgium,Vrije Universiteit Brussel (VUB),182,Belgium,Europe,515.0,1792.0,1853.0,9284.0,0.199591
Brazil,Universidade Estadual de Campinas (Unicamp),182,Brazil,Latin America,109.0,1968.0,966.0,26572.0,0.036354
Canada,McGill University,32,Canada,North America,1220.0,3646.0,9540.0,28837.0,0.330825
Chile,Universidad de Chile,201,Chile,Latin America,127.0,2256.0,2134.0,38848.0,0.054932
China,Peking University,38,China,Asia,1038.0,5185.0,7090.0,42136.0,0.168265
Denmark,Technical University of Denmark,116,Denmark,Europe,966.0,2117.0,2098.0,8878.0,0.236314
Finland,Aalto University,137,Finland,Europe,370.0,1257.0,1831.0,12147.0,0.150737
France,Ecole Polytechnique,59,France,Europe,259.0,649.0,924.0,3126.0,0.295585
Germany,Technische Universität Berlin (TU Berlin),144,Germany,Europe,377.0,2562.0,4494.0,22176.0,0.202652
Hong Kong,The University of Hong Kong,26,Hong Kong,Asia,2085.0,3012.0,8230.0,20214.0,0.407144
India,Indian Institute of Technology Delhi (IITD),172,India,Asia,4.0,466.0,80.0,7477.0,0.010699
Ireland,"Trinity College Dublin, The University of Dublin",88,Ireland,Europe,544.0,1249.0,4311.0,14961.0,0.288149
Israel,The Hebrew University of Jerusalem,145,Israel,Asia,454.0,2249.0,1034.0,16531.0,0.062549
Italy,Scuola Superiore Sant'Anna Pisa di Studi Unive...,192,Italy,Europe,1.0,119.0,135.0,789.0,0.171103
Japan,Tokyo Institute of Technology,56,Japan,Asia,191.0,1563.0,1071.0,9832.0,0.108930
Malaysia,Universiti Malaya (UM),114,Malaysia,Asia,655.0,2755.0,3476.0,17902.0,0.194168
Mexico,Instituto Tecnológico y de Estudios Superiores...,199,Mexico,Latin America,821.0,1822.0,1412.0,13376.0,0.105562
Netherlands,Maastricht University,200,Netherlands,Europe,502.0,1277.0,8234.0,16385.0,0.502533
New Zealand,The University of Auckland,82,New Zealand,Oceania,645.0,2047.0,8568.0,29641.0,0.289059
Norway,University of Oslo,142,Norway,Europe,711.0,2509.0,3667.0,24304.0,0.150881
Russia,Lomonosov Moscow State University,95,Russia,Europe,373.0,6709.0,5098.0,30233.0,0.168624
Saudi Arabia,King Fahd University of Petroleum & Minerals,173,Saudi Arabia,Asia,665.0,1062.0,989.0,6040.0,0.163742
Singapore,"Nanyang Technological University, Singapore (NTU)",11,Singapore,Asia,2993.0,4338.0,7251.0,25738.0,0.281724
South Africa,University of Cape Town,191,South Africa,Africa,379.0,1733.0,3325.0,19593.0,0.169703
South Korea,Hanyang University,155,South Korea,Asia,364.0,3085.0,3397.0,23348.0,0.145494
Spain,Universitat de Barcelona,156,Spain,Europe,108.0,3863.0,6134.0,46002.0,0.133342
Sweden,Lund University,78,Sweden,Europe,1002.0,3031.0,6408.0,27786.0,0.230620
Switzerland,Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Switzerland,Europe,1300.0,1695.0,5896.0,10343.0,0.570047
Taiwan,National Taiwan University (NTU),76,Taiwan,Asia,220.0,2807.0,3152.0,32195.0,0.097903
United Kingdom,London School of Economics and Political Scien...,35,United Kingdom,Europe,687.0,1088.0,6748.0,9760.0,0.691393
United States,Carnegie Mellon University,47,United States,North America,425.0,1342.0,6385.0,13356.0,0.478062

The best university in term of ratio between faculty members and students per region are

,name,rank,country,region,inter_staff,total_staff,inter_students,total_students,ratio
region,,,,,,,,,
Africa,University of Cape Town,191,South Africa,Africa,379.0,1733.0,3325.0,19593.0,0.081262
Asia,Pohang University of Science And Technology (P...,71,South Korea,Asia,113.0,664.0,126.0,3117.0,0.175615
Europe,University of Oxford,6,United Kingdom,Europe,2964.0,6750.0,7353.0,19720.0,0.255006
Latin America,Instituto Tecnológico y de Estudios Superiores...,199,Mexico,Latin America,821.0,1822.0,1412.0,13376.0,0.119884
North America,California Institute of Technology (Caltech),4,United States,North America,350.0,953.0,647.0,2255.0,0.297070
Oceania,The Australian National University,20,Australia,Oceania,927.0,1600.0,5551.0,14442.0,0.099738

The best university in term of  ratio of international students per region are

,name,rank,country,region,inter_staff,total_staff,inter_students,total_students,ratio
region,,,,,,,,,
Africa,University of Cape Town,191,South Africa,Africa,379.0,1733.0,3325.0,19593.0,0.169703
Asia,The University of Hong Kong,26,Hong Kong,Asia,2085.0,3012.0,8230.0,20214.0,0.407144
Europe,London School of Economics and Political Scien...,35,United Kingdom,Europe,687.0,1088.0,6748.0,9760.0,0.691393
Latin America,Universidad de Buenos Aires (UBA),75,Argentina,Latin America,3165.0,16421.0,27109.0,122301.0,0.221658
North America,Carnegie Mellon University,47,United States,North America,425.0,1342.0,6385.0,13356.0,0.478062
Oceania,The University of Melbourne,41,Australia,Oceania,1477.0,3311.0,18030.0,42182.0,0.427434